@{
    ViewBag.Title = "Show";
}
<br />
<br />
<h2 class="text-center">Bookmarks</h2>


@if (TempData["message"] != null)
{
    <div class="alert p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

@foreach (var item in ViewBag.Questions)
{
    <div class="card ">

        <div class="card-body">

            <div class="card-text">@item.Title</div>
            <br />

            <div class="d-flex justify-content-between flex-row mt-5">

                <span class="alert-success px-1 align-content-center">@item.CreatedDate</span>

                <div class="d-flex flex-row justify-content-end">
                    <a class="btn btn-success sirbutoane" href="/Questions/Show/@item.Id">See the question</a>
                </div>

            </div>

        </div>

    </div>

    <br />
    <br />

}
